$bg-body-color: #fff;

$pseudo-bg-color: #14a0c7;
$button-bg-color: #699900;
$link-hover: #fffa63;
$link-active: #66eaff;

$header-bg-img: url(../img/m-h-day.jpg);
$header-txt-color: #2c2f3c;  
$header-paragraph-font-style: 'Hind', sans-serif;


$section-header-color: #2c2f3c;
$card-bg-color: #21232e;
$card-text-style: 'Hind', sans-serif;
 
$banner-bg-gradient: linear-gradient(to right, #649410, #2d5bd5);
$banner-header-color: #2c2f3c;
$banner-text-style: 'Hind', sans-serif;

$footer-bg-color: #21232e;
$footer-font-style: 'Hind', sans-serif; 
