$bg-body-color: #21232e;

$pseudo-bg-color: #ff4e33;
$button-bg-color: #e3ac00;
$link-hover: #29ff2b;
$link-active: #ff9329;

$header-bg-img: url(../img/m-h-night.jpg);
$header-txt-color: #fff;  
$header-paragraph-font-style: 'Fresca', sans-serif;


$section-header-color: #fff;
$card-bg-color: #3b3f50;
$card-text-style: 'Fresca', sans-serif;

$banner-bg-gradient: linear-gradient(to right, #dea505, #932d51);
$banner-header-color: #fff;
$banner-text-style: 'Fresca', sans-serif;

$footer-bg-color: #3b3f50;
$footer-font-style: 'Fresca', sans-serif;

