.btn {
	display: block;
	width: 150px;
  margin: 10px auto;
  border: none;
  color: #fff;
	padding: 10px 20px;
	cursor: pointer;
}

#new-game {
	background-color: lime;
}

#reset-game {
  background-color: crimson;
}